.remark-inline-code{
  /* background: #F5F5F5; /* lighter */
  background: #e7e8e2; /* darker */
  border-radius: 5px;
  padding: 2px;
}

.remark-slide-number {
  position: inherit;
}

.remark-slide-number .progress-bar-container {
  position: absolute;
  bottom: 0;
  height: 4px;
  display: block;
  left: 0;
  right: 0;
}

.remark-slide-number .progress-bar {
  height: 100%;
  background-color: red;
}

img {
  border-radius: 8px;
  border: 1px solid #ddd;
  width: auto;
}

.contents {
  margin-left: 40%;
  padding-left: 10px;
  font-size: 150%;
}

.pull-left-wide{
  float: left;
  width: 72.5%;
}

.pull-right-wide{
  float: right;
  width: 72.5%;
}

.pull-left-narrow{
  float: left;
  width: 25%;
}

.pull-right-narrow{
  float: right;
  width: 25%;
}

.tiny{
  font-size: 75%;
}

.small{
  font-size: 90%;
}

.large {
  font-size: 120%;
}

.Large {
  font-size: 150%;
}

.LARGE {
  font-size: 200%;
}

.huge {
  font-size: 300%;
}

.note {
  font-size: 0.8em;
  position: absolute;
  bottom: 25px;
  padding-right: 4em;
}
